<% breadcrumb :price_increase_product, @predict_product %>
<div class="product-show">
  <div class="product-show-container">
    <div class="product-left">
      <% if  @predict_product.image? %>
        <%= image_tag @predict_product.image.url, class: "predict-product-image" %>
      <% else %>
        <%= image_tag "no_image.jpeg", class: "predict-product-image" %>
      <% end %>
      <div class="up-user">
        <p>(予想したユーザー)</p>
        <div class="up-user-inf">
          <% if @user.user_image? %>
            <%= image_tag @user.user_image.url, class: "product-user-icon" %>
          <% else %>
            <%= image_tag "initial.jpeg", class: "product-user-icon" %>
          <% end %>
          <p class="product-up-user"><%= @user.username %></p>
        </div>
      </div>
    </div>
    <div class="product-right">
      <div class="product-right-container">
        <p class="predict-box-name"><%= @predict_product.name %></p>
        <p class="predict-box-title">○ 説明</p>
        <p class="predict-box-content"><%= @predict_product.explanation %></p>
        <p class="predict-box-title">○ 理由</p>
        <p class="predict-box-content"><%= @predict_product.reason %></p>
      </div>
    </div>
  </div>
</div>
<div class="predict-comment">
  <h2 class="predict-comment-title">この値上げ予想に対するコメント</h2>
  <%= form_with(model:[@predict_product, @comment], method: :post) do |f| %>
    <%= f.text_area :comment_content, class: "comment-text" %>
    <%= f.hidden_field :predict_product_id, value: @predict_product.id %>
    <%= f.submit "コメントする",class: "comment-btn" %>
  <% end %>
</div>
<div class="predict-comment">
  <h2 class="predict-comment-title">コメント一覧</h3>
  <% @comments.each do |comment| %>
    <p class="user-comments"><%= comment.comment_content%></p>
  <% end %>
</div>
