<header class="header">
  <div class="header-container">
    <%= link_to root_path, class: "navbar" do%>
      <h1 class="logo-title" style="font-family: cursive;" id="home">Neagaridus</h1>
    <% end %>
    <div class="nav-item">
      <% if user_signed_in? %>
        <button type="button" class="hamburger-btn">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <%= javascript_pack_tag 'hamburger' %>
        <div class="nav-menu">
          <%= link_to "値上げ商品", products_path, class: "nav-link" %>
          <%= link_to "損失チェック", keisan_products_path, class: "nav-link" %>
          <%= link_to "値上げ予想", predict_products_path, class: "nav-link" %>
          <%= link_to "お気に入り商品", users_favorite_path, class: "nav-link" %>
          <%= link_to "アカウント情報",users_path, class: "nav-link" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" %>
        </div>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "login-btn" %>
        <%= link_to "登録する", new_user_registration_path, class: "new-user-btn" %>
      <% end %>
    </div>
  </div>
</header>
