<div class="search-result">
  <h4>値上げ商品 : <%= @count %>件</h4>
  <%= render "shared/search_product" %>
  <div class="up-products">
    <% @products.each do |product| %>
      <div class="search-products">
        <div class="search-inner">
          <%= link_to product_path(product),class: "search-link" do %>
            <div class="search-image">
              <%= image_tag product.image.url,class: "search-product-image" %>
            </div>
            <div class="product-detailed">
              <p class="product-detailed-name"><%= product.name %></p>
              <p class="product-detailed-price"><span><%= product.high_price %>円</span>の値上げ</p>
            </div>
            <button>商品詳細</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
