<div class="product-show">
  <div class="product-show-container">
    <div class="product-left">
        <% if @product.image? %>
          <%= image_tag @product.image.url, class: "product-show-image" %>
        <% else %>
          <%= image_tag "no_image.jpeg", class: "product-show-image" %>
        <% end %>
        <p class="product-quote">引用 : "<%= @product.quote %>"より</p>
    </div>
    <div class="product-right">
      <div class="product-right-container">
        <p>気になる</p>
        <% if @product.already_favorited?(current_user) %>
          <%= link_to 'いいねを外す', product_favorites_path(@product.id), method: :delete %>
        <% else %>
          <%= link_to 'いいね', product_favorites_path(@product.id), method: :post %>
        <% end %>
        <p class="product-show-name"><%= @product.name %></p>
        <p class="product-show-price"><span><%= @product.high_price %>円</span>の値上げ</p>
        <p class="product-show-explanation"><%= @product.explanation %></p>
        <%= link_to "この商品で損失チェックする",  product_keisan_product_path(@product.id), class: "loss-btn" %>
      </div>
    </div>
  </div>
</div>
